# E2E Testing - Clerk test user credentials
CLERK_TEST_USER_EMAIL=email@goodparty.org
CLERK_TEST_USER_PASSWORD=some-password


CLERK_TEST_SALES_EMAIL=sales@goodparty.org
CLERK_TEST_SALES_PASSWORD=some-password

CLERK_TEST_ADMIN_EMAIL=admin@goodparty.org
CLERK_TEST_ADMIN_PASSWORD=another-password